<div class="wrapper">
  <div class="left-side">
    <img
      src="/assets/icons/logo_black.png"
      alt="Coinforge Logo"
      class="logo-img"
    />
    <h1>24/7 operations and services</h1>
    <p>
      It is a long established fact that a reader will be distracted by the
      readable.
    </p>
    <img class="sign-in-image" src="assets/sign-in-image.png" alt="Image" />
  </div>
  <div class="right-side">
    <img
      src="/assets/icons/logo_black.png"
      alt="Coinforge Logo"
      class="mobile-logo-img"
    />
    <router-outlet></router-outlet>
  </div>
</div>
